* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helios Cond", sans-serif;
}

.container .table-wrap {
    margin: 20px auto !important;
    overflow-x: auto !important
}

.container .table-wrap::-webkit-scrollbar {
    height: 5px !important
}

.btn.btn-primary.h-1 {
    background-color: transparent;
    color: #F08974;
    font-size: 15px;
    border: 1px solid #F08974;
    padding: 2px 10px;
    text-align: left
}

.btn.btn-primary.h-1:hover {
    background-color: #F04A3E;
    color: white;
}

.btn.btn-info.h-2 {
    background-color: transparent;
    color: #FAD993;
    font-size: 18px;
    border: 1px solid #FAD993;
    padding: 2px 10px;
    text-align: left;
}

.btn.btn-info.h-2:hover {
    background-color: #FAAD48;
    color: white;
}

.btn.btn-success.h-3 {
    background-color: transparent;
    color: #6DE081;
    font-size: 18px;
    border: 1px solid #6DE081;
    padding: 2px 15px;
    text-align: left;
}

.btn.btn-success.h-3:hover {
    background-color: #069248;
    color: white;
}

.btn.btn-primary.h-4 {
    background-color: #F04A3E;
    color: white;
    font-size: 14px;
    border: none;
    padding: 2px 10px;
}

.btn.btn-primary.h-4:hover {
    background-color: #F04A3E;
}

.btn.btn-info.h-5 {
    background-color: #6f00ff ;
    color: white;
    font-size: 14px;
    border: none;
    padding: 2px 15px;
}

.btn.btn-info.h-5:hover {
    background-color: #6f00ff;
}

.btn.btn-success.h-6 {
    background-color: #069248;
    color: white;
    font-size: 14px;
    border: none;
    padding: 2px 15px;
}

.btn.btn-success.h-6:hover {
    background-color: #069248;
}

.bg-red {
    height: 10px;
    width: 10px;
    background-color: red;
}

.bg-green {
    height: 10px;
    width: 10px;
    background-color: #069248;
}

.bg-violet {
    height: 10px;
    width: 10px;
    background-color: #6f00ff;
}


.btn.btn-secondary.red {
    background-color: transparent;
    font-size: 15px;
    border: none;
    background-color: #f5cade;
    color: #ee1a7d;
    width: 100%;
    padding: 5px 20px;
}

.btn.btn-secondary.purple {
    background-color: transparent;
    font-size: 12px;
    border: none;
    color: #7638c9;
    background-color: #d8c6f0;
    width: 100%;
    padding: 5px 20px;
}

.btn.btn-secondary.yellow {
    background-color: transparent;
    font-size: 15px;
    border: none;
    background-color: #f7ecb1;
    color: #f88e03;
    width: 100%;
    padding: 5px 20px;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}
