{% load static %}
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow-info position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" data-placement="bottom">
              Task monitoring and tackling system
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>

            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100 " id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto align-items-center">
                {% if user.is_authenticated %}
                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                       href="{% url 'workflow_organizer:task-panel' %}" >
                      Tasks
                    </a>
                  </li>
                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center"
                       href="{% url 'workflow_organizer:team-detail' pk=user.team.id %}" >
                      Team
                    </a>
                  </li>
                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                      Settings
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="dropdownMenuDocs">
                      <div class="d-none d-lg-block">
                        <ul class="list-group">
                          <li class="nav-item list-group-item border-0 p-0">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank" href="{% url 'workflow_organizer:task-type-list' %}">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Managing of task types</h6>
                              <span class="text-sm">Create or edit task types for your team</span>
                            </a>
                          </li>
                          <li class="nav-item list-group-item border-0 p-0">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank" href="{% url 'workflow_organizer:position-list' %}">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Managing of positions</h6>
                              <span class="text-sm">Look over or edit your team's positions</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ul>
                  </li>
                {% endif %}
                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-4 ms-3" href="{% url 'workflow_organizer:dashboard' %}" target="_blank">
{#                      Filler#}
                     <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Get Sources">Dashboard</p>
                    </a>
                  </li>
                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-4 ms-3" href="{% url 'workflow_organizer:project-tracking-panel' %}" target="_blank">
                     <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Get Sources">Project tracking panel</p>
                    </a>
                  </li>

                {% if user.is_authenticated %}
                  <li class="nav-item dropdown ms-lg-auto">
                    <a class="nav-link dropdown-toggle d-flex cursor-pointer align-items-center" id="userDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}
                      <i class="fa fa-chevron-down ms-1"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end mt-0 mt-lg-3 p-3 border-radius-lg" aria-labelledby="userDropdown">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'workflow_organizer:worker-detail' pk=user.id %}">
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Personal Information</h6>
                      </a>
                      <a class="dropdown-item py-2 ps-3 border-radius-md" target="_blank" href="{% url 'workflow_organizer:position-list' %}">
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Adjustments</h6>
                      </a>
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'logout' %}">
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-center align-items-center p-0">Log Out</h6>
                      </a>
                    </div>
                  </li>
                {% else %}
                  <li class="nav-item my-auto ms-3 ms-lg-0">
                    <a href="{% url 'login' %}" target="_blank" class="btn btn-sm  bg-gradient-warning  mb-0 me-1 mt-2 mt-md-0">LogIn</a>
                  </li>
                {% endif %}

              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
