{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
  {% include 'includes/sidebar.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header section-height-75">
      <span class="mask bg-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Simplify your workflow</h1>
            <p class="lead mb-4 text-white opacity-8">Maintain and develop you tasks. Boost up your efficiency</p>
            {% if user.is_authenticated %}
              <a href="{% url 'workflow_organizer:task-panel' %}" class="btn bg-white text-dark">Let's kick off</a>
            {% else %}
              <a href="{% url 'login'%}?next={{request.path}}" class="btn bg-white text-dark">Let's kick off</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <body>
    <section class="section section-lg pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-lg-3 text-left mx-auto mt-5">
            <div class="icon-box mb-2">
              <div style="color:black" class="icon icon-primary mb-4 ms-1 fa-2x">
                <span class="fas fa-user"></span>
              </div>
              <p>
                There are <strong>{{ num_workers }} users</strong>,
                who tried our platform and have been working with us for a while
              </p>
              <a href="{% url 'workflow_organizer:users-list' %}">Find out more</a>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 text-left mx-auto mt-5">
            <div class="icon-box mb-2">
              <div style="color:darkblue" class="icon icon-primary mb-4 fa-2x">
                <span class="fas fa-money-check"></span>
              </div>
              <p>
                Increase your chances to be efficient!
                During recent year <strong>{{ num_projects }} projects were competed successfully</strong>.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 text-left mx-auto mt-5">
            <div class="icon-box mb-2">
              <p>
                On our platform consistently work <strong>{{ num_teams }} teams </strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

{% endblock content %}
